<h1>LOGIN:</h1>
<form action="users/login" method="post">
Email: <input type="email" name="email" id="email">
<br>
password: <input type="password" name="password" id="password">
<br>
<input type="submit" value="ACCESS">
</form>

<h2>New User?</h2>
<button onclick="location.href='/register'">go to register</button>